@import '../../global/style.css';
@import './carousel.css';
@import './index-resp.css';

@font-face {
  font-family: Komigo;
  src: url("../../../componentes/fonts/Komigo.ttf") format('truetype');
}

@font-face {
  font-family: ComicReal;
  src: url("../../../componentes/fonts/ComicReal.ttf") format('truetype');
}

@font-face {
  font-family: Handwrite;
  src: url("../../../componentes/fonts/Handwriting.ttf") format('truetype');
}

/*--------------------------*/
/*Estilização geral do index*/
/*--------------------------*/
body{
  margin: 16px;
  background-color: #f7f1da;
  /* background-image: ; */
  font-family: 'ComicReal';
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Komigo';
}

header {
  position: sticky;
  top:0;
  background-color: var(--amarelo);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  border: 4px solid #000000;
  margin-bottom: 16px;
  z-index: 5;

  & a{
    color: #000;
  }

  & a:hover{
    color: var(--vermelho);
  }

  & .akindo-logo{
    & img{
      max-width: 100px;
    }
  }

  & .aside-icons {
    display: flex;
    justify-content: center;
    gap: 38px;

    & img{
      width: 37px;
    }
  }

  & ul {
    display: flex;
    min-width: 400px;
    justify-content: space-between;
    list-style: none;
  }
}


/*--------------------------*/
/*Inicio*/
/*Carrossel*/
/*--------------------------*/
.carousel {
  height: 70vh;
  position: relative;
  border: 4px solid #000;
  background-image: linear-gradient(var(--rosa), var(--vermelho));

  & .list {
    width: 70vw;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;

    & .item {
      position: absolute;
      inset: 0;

      & .persona-img {
        position: absolute;
        top: 5%;

        & img {
          width: 100%;
        }
      }

      & .content {
        position: absolute;
        right: 100px;
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        gap: 20px;

        & h2 {
          font-size: 8em;
          line-height: 1em;
        }

        & .yuusuke-tsutomu {
          margin-top: -1em;
        }

        & .description {
          color: #d4d1d8;
          text-align: right;
          max-width: 400px;
        }

        & .info {
          border-radius: 30px;
          height: 35px;
          width: 120px;
          text-transform: uppercase;
          border: 2px solid #551155;
          background-color: #e3d23c;
          color: #000;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }

    &::before {
      content: '';
      position: absolute;
      height: 200px;
      width: 100%;
      top: 50%;
      border-top: 1px solid #fff;
    }
  }

  .arrows {
    width: 75vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25px);
    display: flex;
    justify-content: space-between;
    z-index: 4;

    & button:nth-child(1) {
      & img {
        transform: scale(-1);
      }
    }

    & button {
      position: relative;
      top: 60%;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: none;
      cursor: pointer;

      & img {
        width: 30px;
        margin-top: 3px;
        cursor: pointer;
      }

      &:hover {
        background-color: var(--yelow);
      }
    }
  }

  .indicators {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 15px;

    & ul {
      display: flex;
      list-style: none;
      gap: 10px;

      & li {
        width: 13px;
        height: 10px;
        background-color: var(--yelow);
        border-radius: 5px;
        transition: background 0.4s ease, transform 0.4s ease;
      }

      & li.active {
        width: 20px;
        background-color: #fff;
        border-radius: 5px;
        transform: scale(1.2);
      }
    }
  }
}


/*animações de carrossel*/
.carousel {
  & .list {
    --calculation: 1;


    & .item {
      transform: translateX(calc(100vw * var(--calculation)));
      transition: 0.5s;
      opacity: 0;

      & .persona-img {
        & img {
          transition: 0.5s;
          transition-delay: 0.3s;
        }
      }

      & .content {

        & h2,
        .description,
        .info {
          transform: translateX(calc(200px * var(--calculation)));
          transition: 0.7s;
          transition-delay: 0.3s;
          opacity: 0;
        }

        & h2 {
          transition-delay: 0.5s;
        }

        & .description {
          transition-delay: 0.7s;
        }

        & .info {
          transition-delay: 0.9s;
        }
      }
    }

    & .active {
      transform: translateX(0);
      transition: 0.5s;
      opacity: 1;

      & .content {

        & h2,
        .description,
        .info {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}


/*----Categorias----*/
.categorias {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 20px;
  cursor: pointer;

  & .categoria {
    text-align: center;
    cursor: pointer;

    & .circulo {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 4px solid #000000;
      overflow: hidden;
      background-color: var(--rosa);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & :hover .circulo {
      transform: scale(1.1);
    }
  }

  & p {
    margin-top: 0.8rem;
    font-weight: 500;
    color: #000000;
  }
}


/*----cards----*/
.cards-area {
  margin: 20px;
  justify-items: center;

  & .cards {
    display: grid;
    justify-items: center;
  }

  & .superiores {
    grid-template-columns: repeat(3, 1fr);
  }

  & .inferiores {
    grid-template-columns: repeat(2, 1fr);
  }

  & .card {
    background-color: var(--vermelho);
    border: 4px solid #000;
    margin: 10px;
    width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;

    transition: transform 0.3s ease, opacity 0.3s ease;

    & .card-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity 0.3s ease;
    }

    & .descricao {
      position: absolute;
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items: center;
      padding: 20px;
      text-align: center;
      color: white;
      opacity: 0;
      transition: opacity 0.3s ease;

      & .mikako-icon{
        width: 200px;
      }
    }

    &:hover .card-img {
      opacity: 0;
    }

    &:hover .descricao {
      opacity: 1;
    }
  }

  & .card.mikako:hover {
    background-color: #d64079;
  }

  &:has(.card:hover) .card {
    transform: scale(0.85);
    opacity: 0.5;
  }

  & .card:hover {
    transform: scale(1.1) !important;
    opacity: 1 !important;
    z-index: 10;
  }
}


/*---------------------------*/
/*---------Sobre nós---------*/
/*---------quem somos--------*/
/*---------------------------*/
.sobre-nos {
  background-image: linear-gradient(#f7f1da, #f7e9da, #efdab8, #e7bd90, #f7e9da, #f7f1da );
  width: 100%;
  padding: 50px;

  & .akindo-info {
    display: flex;
    align-items: center;

    & p {
      padding-bottom: 10px;
      font-size: x-large;
      text-align: justify;
    }

    & img {
      width: 350px;
    }
  }


  & .personagems-section {
    display: grid;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-size: large;

    & .personagem {
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: brown;

      & .personagem-header {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        & img {
          width: 200px;
        }
      }

      & .info-personagem {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3rem;

        & img {
          width: 400px;
        }

        & p{
          text-align: justify;
        }
      }
    }

    & .mikako, .jiro, .risa {
      clip-path: polygon(
        4% 0,
        100% 5%,
        96% 100%,
        0 95%
      );
    }

    & .yuusuke-tsutomu, .mai{
      clip-path: polygon(
        0 0,
        96% 0,
        100% 95%,
        4% 100%
      );
    }
  }
}


/*-----------------*/
/*-----Contato-----*/
/*-----------------*/
.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 10px;

  & .formulario {
    width: 45%;
    padding: 30px;
    border: 4px solid #000;
    background-color: #ffdce6;

    & label {
      color: var(--p-marrom);
    }

    & form {
      display: flex;
      flex-direction: column;

      & label {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 600;
      }

      & input,
      textarea {
        width: 100%;
        padding: 12px;
        margin-bottom: 20px;
        border: 3px solid #000000;
        font-size: 15px;
      }

      & textarea {
        height: 140px;
        resize: vertical;
      }
    }
  }

  & .btn {
    background-color: var(--vermelho);
    color: var(--a-color);
    padding: 14px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    align-self: center;
  }

  & .btn:hover {
    opacity: 0.8;
  }

  & input{
    font-family: 'ComicReal';
  }
}

/*----Rodapé----*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--amarelo);
  border: 5px solid #000;
  height: 100%;
  padding: 10px;
  width: 100%;

  & h3{
  font-size: 30px;
  }

  & .links-uteis {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & .redes{
      padding-bottom: 20px;

      & .redes-icons {
        display: flex;
        justify-content: space-around;

        & img{
          width: 40px;
        }
      }
    }

    & .links {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;

      & .navegação {
        display: grid;
        flex-direction: column;
        grid-template-columns: fit-content(250px);

        & a{
          color: #000;
          padding: 10px 0px;
          text-decoration: none;
        }
      }
    }
  }

  & .copyright {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: var(--h-amarelo);
  }
}
