*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

:root{
  /* Index colors */
  --vermelho: #D45238;
  --amarelo: #E6C137;
  --rosa: #B7457C;
  --yelow: #fffb0b;

  /* Mikako colors */
  --bg-mikako: #ffdcecea;
  --mikako-main: #d85ca0;
  --mikako-g: #0c894f;
}