*{
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 8px;
  background-color: #f7f1da;
  /* background-image: ; */
}

:root{
  --vermelho: #D45238;
  --amarelo: #E6C137;
  --rosa: #B7457C;
}